<div class="footer_flags">
	<div class="container_flags">
		<div class="flag flag_not_selected link_mx_api_doc">&#127474;&#127485; M&eacute;xico</div>
		<div class="flag flag_selected shadow">&#127464;&#127476; Colombia</div>
	</div>
</div>